127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{pg_master_ip}} {{pg_master_host}}
{{pg_slave_ip}} {{pg_slave_host}}
